@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

/* Estilos para animación de aparición */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

:root {
    --colorfont: theme('colors.white');
    --colorgray300: theme('colors.gray.300');
    --colorcyan500: theme('colors.cyan.500');
}


/* :root.dark-mode{
} */