@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

/* Estilos para animación de aparición */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

:root {
    --colorfont: theme('colors.white');
    --colorgray300: theme('colors.gray.400');
    --colorcyan500: theme('colors.cyan.500');
    --colorwhiteshadow: theme('colors.white');
    --colorcyanshadow: theme('colors.cyan.400');
    --colorborder: theme('colors.white / 30%');
    --shadowborder: theme('colors.white / 10%');
    --colorbackground: #162024;
    --colorbutton: #1f2d3d;

    /* Hover colors */
    --colorhoverreact: theme('colors.cyan.600');
    --colorhoverastro1: theme('colors.white');
    --colorhoverastro2: theme('colors.pink.300');
    --colorhovertailwind: theme('colors.cyan.400');
    --colorhoverhmtl: theme('colors.orange.500');
    --colorhovercss: theme('colors.blue.600');
    --colorhoverjs: theme('colors.yellow.500');
    --colorhoverjava: theme('colors.red.500');
    --colorhovercmas: theme('colors.blue.500');
    --colorhovercsharp: theme('colors.purple.500');
    --colorhovergit: theme('colors.orange.500');
    --colorhovergithub: theme('colors.black');
    --colorhoverfigma: theme('colors.purple.500');
    --colorhoversql: theme('colors.yellow.300');
    --colorhoverscrum: theme('colors.green.400');
    --colorhovernet: theme('colors.purple.600');

    /* Canvas colors */
    --fillcolor: theme('colors.white / 30%');
    --shadowcolor: theme('colors.white');

}


/* :root.dark-mode{
} */