---

---

<div class="flex flex-col items-center max-w-7xl mx-auto justify-evenly h-[600px]">
    <h2 class="text-7xl font-[800] text-cyan-400 mb-6 drop-shadow-[0_0_8px_rgba(0,255,255,0.7)]">Sobre Mí</h2>    
    
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-10">
        <div class="p-6 bg-white rounded-xl shadow-md text-center">
            <h3 class="text-xl font-semibold text-gray-700">Backend</h3>
            <p class="text-gray-600 mt-2">Experiencia en .NET, ASP.NET MVC y NestJS.</p>
        </div>
        <div class="p-6 bg-white rounded-xl shadow-md text-center">
            <h3 class="text-xl font-semibold text-gray-700">Frontend</h3>
            <p class="text-gray-600 mt-2">Uso React, Next.js, Vite y Tailwind para crear interfaces modernas.</p>
        </div>
        <div class="p-6 bg-white rounded-xl shadow-md text-center">
            <h3 class="text-xl font-semibold text-gray-700">Emprendedor</h3>
            <p class="text-gray-600 mt-2">Estoy creando una empresa de software enfocada en IA.</p>
        </div>
    </div>

</div>