<div
  class="about fade-in fade-in flex flex-col items-center mx-auto px-10 md:px-10 lg:px-20 xl:px-32 mb-20"
>
  <h2
    class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-[800] drop-shadow-[0_0_8px_rgba(255,255,255,0.7)] justify-center items-center mb-20"
  >
    Sobre mí
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
    <div
      class="bg-[#162024] p-8 md:p-10 rounded-2xl border border-white/30 shadow-lg transform transition-all duration-300 ease-out hover:shadow-[0_0_15px_rgba(255,255,255,0.7)] hover:scale-[1.03] hover:-rotate-1 animate-fade-in-up"
    >
      <h3 class="text-2xl font-semibold text-center drop-shadow-md">
        Experiencia de Voluntariado
      </h3>
      <h3 class="mt-4 font-medium">
        Instructor en Herramientas Digitales para la Educación
      </h3>
      <p class="text-sm text-right mt-1">
        Quito, Ecuador | Mayo 2022 - Agosto 2022
      </p>
      <ul class="mt-2 text-left text-sm list-disc list-inside">
        <li>
          Enseñé herramientas digitales para mejorar las habilidades
          tecnológicas de los docentes.
        </li>
        <li>
          Capacité en plataformas como Zoom, Jitsi, Teams, Quizziz, Educandy,
          Google Forms, Genially, PowerPoint, Google Classroom, Edmodo, Google
          Drive, Gmail y Google Docs.
        </li>
      </ul>
    </div>

    <div
      class="bg-[#162024] p-8 md:p-10 rounded-2xl border border-white/30 shadow-lg transform transition-all duration-300 ease-out hover:shadow-[0_0_15px_rgba(255,255,255,0.7)] hover:scale-[1.03] hover:rotate-1 animate-fade-in-up"
    >
      <h3 class="text-2xl font-semibold text-center drop-shadow-md">
        Educación
      </h3>
      <h3 class=" mt-4 font-medium">Escuela Politécnica Nacional</h3>
      <div class="flex justify-between">
        <p class="">Ingeniería en Software</p>
        <p class=" text-sm">Quito, Ecuador | 2024</p>
      </div>

      <h3 class="mt-4 font-medium">
        Unidad Educativa Municipal Eugenio Espejo
      </h3>
      <div class="flex justify-between">
        <p class="">Bachillerato en Ciencias</p>
        <p class=" text-sm">Quito, Ecuador | 2018</p>
      </div>
    </div>
  </div>
</div>


<style>

  .about h2, .about h3 {
    color: var(--colorfont);
  }

  .about p, .about ul {
    color: var(--colorgray300);
  }

</style>