---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<aside id="contact" class="aside flex flex-col items-center gap-12 px-20 py-6 md:flex-row md:flex-wrap md:justify-between md:py-30 transform">
	<h2 class="font-[800] text-center max-w-md text-3xl md:text-5xl md:text-left">
		¿Interesado en trabajar juntos?
	</h2>
	<CallToAction href="mailto:nicolastoscano1@hotmail.com">
		Mándame un mensaje
		<Icon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>
</aside>


<style>
	.aside {
		background-color: var(--colorbackground);
		border-bottom: 1px solid var(--colorborder);
	}

	.aside h2 {
		color: var(--colorfont);
	}

	
</style>