<div class="fade-in flex flex-col sm:flex-row items-center justify-center max-w-7xl mx-auto h-[500px] pt-20 sm:pt-60 mb-20 w-full">
  <div class="me flex flex-col justify-center w-full h-full text-center">
    <h1 class="font-[800] text-5xl sm:text-7xl">
      Hola, soy <span
        class=""
        >Nicolás</span
      >.
    </h1>
    <span
      class="flex items-center justify-center gap-2 mt-4 text-lg opacity-90 hover:scale-105"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="currentColor"
        class=""
      >
        <path
          d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
        ></path>
      </svg>
      <a
        href="https://www.google.com.ec/maps/@-0.2077176,-78.4893653,11.75z?hl=es&entry=ttu&g_ep=EgoyMDI1MDMxMS4wIKXMDSoASAFQAw%3D%3D"
        target="_blank"
        class="text-xl"
        >Quito, Ecuador</a
      >
    </span>
  </div>

  <div class="profile w-2/4 h-full flex flex-col justify-center items-center z-1">
    <img src="/portfolio/profile.png" class="rounded-full w-80" alt="">
  </div>
</div>

<style>
  .me {
    color: var(--colorfont);
  }

  .me h1 {
    cursor: pointer;
  }

  .me h1 span {
    color: var(--colorcyan500);
    text-shadow: 0 0 8px var(--colorcyanshadow);
  }

  .me span a {
    color: var(--colorcyan500);
    text-shadow: 0 0 8px var(--colorcyanshadow);
  }

  .profile img {
    box-shadow: 0 0 9px var(--colorwhiteshadow);
  }

</style>