<h1
  class="logo text-xl font-bold text-center flex gap-5 hover:scale-105 transition duration-300 cursor-pointer"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="25"
    height="25"
    viewBox="0 0 24 24"
    fill="currentColor"
    class=""
  >
    <path
      d="M2 4c-.55 0-1 .45-1 1v14c0 .55.45 1 1 1h20c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1H2zm0-2h20c1.65 0 3 1.35 3 3v14c0 1.65-1.35 3-3 3H2c-1.65 0-3-1.35-3-3V5c0-1.65 1.35-3 3-3zm3 12 5-4-5-4v2l3 2-3 2v2zm5 2h6v2H10v-2z"
    ></path>
  </svg>
  <span class="name">Nicolás T.</span>
</h1>


<style>
  .logo {
    color: var(--colorcyan500);

    &:hover span {
      text-shadow: 0 0 8px var(--colorcyanshadow);
    }

    &:hover svg {
      filter: drop-shadow(0 0 8px var(--colorcyanshadow));
    }
  }

  .name {
    color: var(--colorfont);
  }
</style>