---
const projects = [
  {
    title: "Tesla",
    description:
      "Desarrollo de una tienda con carrito de compras y pago integrado.",
    image: "/portfolio/tesla.png",
    link: "https://nicotoscano.github.io/tesla/",
  },
  {
    title: "Coffee Shop",
    description:
      "Un dashboard para gestionar usuarios y productos con estadísticas.",
    image: "/portfolio/coffee.png",
    link: "https://nicotoscano.github.io/CoffeeShop/",
  },
];
---

<div
  class="fade-in flex flex-col items-center mx-auto px-10 md:px-10 lg:px-20 xl:px-32 mb-20"
>
  <h2
    class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-[800] text-white drop-shadow-[0_0_8px_rgba(255,255,255,0.7)] justify-center items-center mb-20"
  >
    Proyectos
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
    {
      projects.map((project) => (
        <div class="bg-[#162024] p-8 md:p-10 rounded-2xl border border-white/30 shadow-lg transition-transform transform hover:shadow-[0_0_10px_rgba(255,255,255,0.5)]">
          <a
            href={project.link}
            class="block rounded-xl transition-transform hover:scale-105" target="_blank"
          >
            <img src={project.image} alt="">
            <h3 class="text-xl font-semibold text-white">{project.title}</h3>
            <p class="text-gray-300 text-sm">{project.description}</p>
          </a>
        </div>
      ))
    }
  </div>
</div>
